.projetos{
    display: flex;
    color: white;
    height: auto;
    padding: 0rem 4rem;
}

.container-conteudo{
  display: flex;
  margin: 7rem auto 0rem auto;
}


.texto-sobre-projeto{
    width: 800px;
    text-align: center;
    >p{
        font-size: 22px;
        line-height: 30px;
        font-weight: 200;
    }
    >a{
      color: white;
      font-size: 22px;
      text-decoration: none; 
      font-weight: 500;
      transition: 0.4s;
      &:hover { 
        text-shadow:  15px 15px 15px rgba(0, 0, 0, 0.397);
      }
    }
    >h1{
      font-size: 48px;
    }
}



// Carrossel
.projects-container {
  height: auto;
  padding: 2rem 0;
  
  h2 {
    margin-bottom: 2rem;
  }

  .project {
    margin: 25px;
    padding: 20px;
    height: 180px;
    border-radius: 20px;
    background-color: #131922;
    box-shadow: rgba(50, 50, 93, 0.425) 0px 50px 30px -10px, rgba(0, 0, 0, 0.568) 0px 20px 30px -30px;
    transition: transform 0.3s, box-shadow 0.3s;

    &:hover {
      transform: translateY(-5px);
      box-shadow: rgba(50, 50, 93, 0.35) 0px 70px 40px -15px, rgba(0, 0, 0, 0.527) 0px 30px 40px -35px;
    }
    
    a {
      margin: 0 0 10px;
      font-size: 20px;
      font-weight: 600;
      color: #4493f8;
      &:hover {
        text-decoration: underline !important;
      }
    }

    p {
      margin: 5px 0;
      font-size: 16px;
      color: #8d96a0;
    }

    .tecnologias {
      font-size: 14px;
        color: #666;
    }

    .private {
      color: red;
      font-weight: bold;
    }

  }
}

.owl-carousel .owl-item {
  width: 400px;
  height: 400px;
}