<div class="sobre-mim">
    <div class="container-conteudo">
        <div class="texto-sobre">
            <h1 class="typewriter">{{ displayText }}</h1>
            <p>
                Sou desenvolvedora de software. Atualmente, estou cursando a faculdade de Engenharia de Software e 
                já estou na área profissionalmente há três anos. Ao longo desse tempo, adquiri experiência em diversas tecnologias e 
                metodologias de desenvolvimento, sempre buscando aprimorar minhas habilidades e entregar soluções eficazes.
            </p>
        </div>
    
        <img src="/assets/minha-foto.png" alt="Minha foto">
    </div>
</div>