.sobre-mim{
    color: white;
    position: relative;
    margin-top: 73px;
    height: auto;
    padding: 3rem;
}

.texto-sobre{
    width: 600px;
    margin: 6rem auto;
    >p{
        font-size: 18px;
        line-height: 30px;
    }
}