.contatos{
    display: flex;
    color: white;
    height: auto;
    padding: 10rem 4rem;
    text-align: center;
}

.container-conteudo{
  display: flex;
  margin: 8rem auto;
}

.texto-sobre-contatos{
    width: 800px;
    height: 250px;
    >p{
        margin-top: 1rem;
        font-size: 24px;
        line-height: 30px;
        font-weight: 500;
        display: flex;
        transition: 0.4s;
    }
    >h1{
        font-size: 38px;
        font-weight: 500;
        transition: 0.4s;
    }
}

a{
    font-size: 24px;
    font-weight: 300;
    text-decoration: none;
    color: white;
    transition: 0.4s;
    margin-left: 10px;
    &:hover { 
        text-shadow: 15px 15px 15px rgba(0, 0, 0, 0.397);
    }
}

@media (max-width: 950px) {
    .texto-sobre-contatos{
        width: auto;
        height: auto;
        text-align: center;
        >p{
            font-size: 18px;
            line-height: 24px;
        }
        >h1{
            font-size: 28px;
            font-weight: 600;
        }
    }

    a{
        font-size: 18px;
    }
}

@media (max-width: 640px) {
    .contatos {
        padding: 2rem 1rem;  
        flex-direction: column; 
    }

    .container-conteudo {
        flex-direction: column;
        align-items: center; 
    }

    .texto-sobre-contatos {
        padding: 0; 
        align-items: center;
        flex-direction: column;
        margin: 0 1rem;
        > p {
            font-size: 16px;
            line-height: 28px;
            display: block;
        }
        > h1 {
            font-size: 24px;
        }
    }
    
    a {
        font-size: 16px;
    }
}
