<div class="contatos">
    <div class="container-conteudo">
        <div class="texto-sobre">
            <h1>Nesta seção falarei sobre os meus contatos</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis eum architecto, mollitia accusamus, 
                quia consequuntur ad officia facilis ab tenetur accusantium voluptates. Architecto incidunt modi, 
                officiis similique quidem doloremque repudiandae!
            </p>
        </div>
    </div>
</div>