.footer {
    background-color: var(--app-background-color);
    color: black;
    padding: 1rem 0;
    text-align: center;
    border-radius: 20px 20px 0 0;

    .container {
      margin: 0 auto;
    }
  
    .text-muted {
      font-size: 20px;
    }
  }
  