.footer {
    background-color: var(--app-background-color);
    padding: 1rem 0;
    text-align: center;
    border-radius: 20px 20px 0 0;
    box-shadow: rgba(0, 0, 0, 0.377) 0px 22px 70px 4px;

    .container {
      margin: 0 auto;
    }
  
    .text-muted {
      font-size: 20px;
      color: #551A8B;
      transition: 0.4s;
    }
}

@media (max-width: 640px) {
  .text-muted {
    font-size: 14px !important;
  }
  .footer {
    height: 65px;
  }
}
